{{> head }}


    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Imagen About</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus reiciendis, quod ipsam quae eligendi in consectetur impedit inventore repudiandae, maxime quis dignissimos, ad eius modi error veritatis ducimus cupiditate laudantium.
            </p>
        </div>
        
        <div class="col-4">
            <img src="assets/img/playlist.png" class="img-thumbnail">
        </div>
    </div>

{{> footer }}